#grid-container {
    width: 700px;
    height: 400px;
    text-align: center;
    border: solid;
    border-width: thin;
    display: grid;
    column-count: 4;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#display {
    box-sizing: border-box;
    grid-column-start: 1;
    grid-column-end: 4;
    border-style: solid;
    text-align: left;
    font-size: 30px;
    margin: 5px;
    color: black;
    line-height: 40px;
    background: white;
    border: 1;

}

[class*="btn-"] {
    grid-auto-columns: 1/4;
    background: green;
    color: white;
    text-align: center;
    justify-content: baseline;
    margin: 3px;
    padding-top: 15px;
    line-height: 40px;
    font-size: large;
    border-radius: 10px;

}