#grid-container {
    width: 500px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px;
}

.input {
    grid-column: 1;
    text-align: left;
    margin: 5px;
    color: black;
    line-height: 40px;
    background: white;
    border: 1;
}

[class*="btn-"] {
    grid-auto-columns: 1;
    background: green;
    color: white(80, 31, 154);
    text-align: center;
    margin: 3px;
    line-height: 40px;
}